textarea
{
    resize: none;
}
img {
    width: 60%;
    height: auto;
  }
  .image-fix{
     height:  320px ;
    background-repeat: no-repeat;
     background-size:  cover ;
       background-position :  center center 
  }
   
  