<footer class="page-footer pt-4 mt-4 red accent-1 text-center text-md-left">

  <!-- Footer Links -->
  <div class="container">
    <div class="row">

      <!-- First column -->
      <div class="col-md-6">
        <h6 class="about-us">About YOYOFOOD</h6>
        <p>YOYOFOOD là kênh tổng hợp tin khuyến mãi chuyên nghiệp đầu tiên ở Việt Nam, cho phép bạn tìm kiếm mã giảm
          giá, tin ưu đãi từ đa dạng lĩnh vực thời trang, nhà hàng, làm đẹp và web mua sắm. Và còn rất nhiều mã giảm giá
          độc quyền dành riêng cho bạn.</p>
      </div>
      <!-- First column -->

      <!-- Second column -->
      <div class="col-md-3">
        <h6 class="about-us">Links</h6>
        <ul class="list-unstyled">
          <li><a href="#!">Trang chủ</a></li>
          <li><a href="#!">Liên hệ</a></li>
          <li><a href="#!">Góp ý</a></li>
        </ul>
      </div>
      <!-- Second column -->

      <!-- Third column -->
      <div class="col-md-3">
        <div class="fb-page" data-href="https://www.facebook.com/YOYOFOODvn" data-tabs="" data-width="" data-height=""
          data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
          <blockquote cite="https://www.facebook.com/YOYOFOODvn" class="fb-xfbml-parse-ignore"><a
              href="https://www.facebook.com/YOYOFOODvn">YOYOFOOD</a></blockquote>
        </div>
        <div id="fb-root"></div>
        <script async defer crossorigin="anonymous"
          src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v4.0&appId=494712134612008&autoLogAppEvents=1"></script>
        <div class="fb-page" data-href="https://www.facebook.com/YOYOFOODvn/" data-width="380" data-hide-cover="false"
          data-show-facepile="false"></div>
      </div>

      <!-- Third column -->
    </div>
  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright py-3 text-center">
    <div class="container-fluid">
      &copy; 2020 Copyright: <a href="https://www.facebook.com/groups/1048762465260254/"> YOYOFOOD </a>

    </div>
  </div>
  <!-- Copyright -->

</footer>