<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h2 class="mb-0 d-inline-block">Voucher List</h2>
          <div class="col-lg-3 col-md-6 d-inline-block float-right">
            <button class="btn btn-icon btn-3 btn-primary" type="button" routerLinkActive="active"
              [routerLink]="['/shop/voucher/create']">
              <!-- <button class="btn btn-icon btn-3 btn-primary" type="button"  (click)="onShowForm();"> -->
              <span class="btn-inner--icon"><i class="ni ni-fat-add"></i></span>
              <span class="btn-inner--text">Add New Voucher</span>
            </button>
          </div>
        </div>
        <div class="row">
          <ng-container *ngFor="let data of datasVoucher">
            <app-card-voucher>


              <a *ngIf="data.status == 1" class="card-image" (click)="open(classic3, 'modal_delete', '', data)"><img width="300" height="270"
                  src="{{ data.image }}"> </a>
              <a *ngIf="data.status == 1" class="card-title" (click)="open(classic3, 'modal_delete', '', data)">
                <h3 class="under-cut">{{data.name}}</h3>
              </a>


              <a *ngIf="data.status == 0" class="card-image" routerLink="/shop/voucher/update/{{data.nameUnAccent}}"><img width="300"
                  height="270" src="{{ data.image }}"> </a>
              <a *ngIf="data.status == 0" class="card-title" routerLink="/shop/voucher/update/{{data.nameUnAccent}}">
                <h3 class="under-cut">{{data.name}}</h3>
              </a>


              <p class="card-description under-cut">{{data.description}}</p>

              <div *ngIf="data.status == 1">
                <span class="card-status badge badge-dot mr-4">
                  <i class="bg-success"></i> Online
                </span>
              </div>
              <span class="card-author"><i class="far fa-user"></i> {{data.store}}</span>

              <span *ngIf="data.updated == null" class="card-time-stamp"><i class="far fa-clock"></i>
                {{data.created | slice: 10 | changewhitespaces}} - ...</span>
              <span *ngIf="data.updated != null" class="card-time-stamp"><i class="far fa-clock"></i>
                {{data.created | slice: 10 | changewhitespaces}} -
                {{data.updated | slice: 10 | changewhitespaces}}</span>

              <span *ngIf="data.status == 0" class="card-status badge badge-dot mr-4"><i class="bg-danger"></i>
                Disbaled</span>
              <span *ngIf="data.status == 1" class="card-status badge badge-dot mr-4"><i class="bg-success"></i>
                Online</span>
              <span *ngIf="data.status == 2" class="card-status badge badge-dot mr-4"><i class="bg-warning"></i>
                Exprires</span>
            </app-card-voucher>
            <ng-template #classic3 let-c="close()" let-d="dismiss()">
              <div class="modal-content bg-gradient-danger">
                <div class="modal-body">
                  <div class="py-3 text-center">
                      <i class="fas fa-exclamation"></i>
                    <h4 class="heading mt-4">You can't edit voucher online
                    </h4>
                    <h4 class="heading mt-4">Contact the <strong>ADMIN</strong> to get the problem solved!!!
                    </h4>


                  </div>
                </div>
                <div class="modal-footer">
                  <div class="text-center">
                      <button type="button" class="btn btn-link text-white ml-auto " data-dismiss="modal"
                      (click)="c">Close</button>
                  </div>
                  
                </div>
              </div>
            </ng-template>
          </ng-container>
        </div>



      </div>
    </div>
  </div>
</div>