.new-feature-search-bar {
    height: 98px;
    background-color:#4281f5;
    align-items: center;
    justify-content: space-between;
}
.new-feature-header{
    border-bottom: 1px solid #ededed;
    background-color: #4281f5;
    position: relative;
    z-index: 50;
}