.new-feature-search-bar {
    height: 98px;
    background-color:#fe3f44;
    align-items: center;
    justify-content: space-between;
}
.new-feature-header{
    border-bottom: 1px solid #ededed;
    background-color: #fe3f44;
    position: relative;
    z-index: 50;
}