.card-news{
    background: #fff;
    display: inline-block;
    border-radius: 2px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin: 5px;
    text-align: justify;
    padding: 10px;
}
